body{
  font-family: Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

 h3{
  font-size: 20px;
}

.navbar-default .navbar-brand{
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}

h1.text-center{
  color: white;
}

h2.text-center{
  /*color: white;*/
}

header{
  background-image: url("../images/personal assistant.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 310px;
}

.space{
  margin-top: 30px;
}

.background{
  background-color: #f3f5f6;
}


h2.heading-title{
  font-size: 40px;
  margin-top: 40px;
}

.image1{
  margin-top: 35px;
  margin-bottom: 35px;
}

.head1{
  margin-top: 35px;
  font-size: 40px;
}

.paragraph{
  color: black;
  font-size: 18px;
  margin-top: 15px;
}

h1{
  font-size: 80px;
  margin-top: 175px;
  font-weight: 800;
}

 a.small-links{
  font-size: 18px;
  color: white;
}

.navbar-default {
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
    /* background-color: #f8f8f8; */
    /* border-color: #e7e7e7; */
}
.navbar-default .navbar-nav>li>a{
  color: white;
  font-weight: bold;
}

.btn-default{
  border-radius: 25px;

}

/*.btn.no-hover:hover{
  background-color: : rgba(0,0,0,0);
}*/

navbar-nav>li>a.btn,
.navbar-default .navbar-nav>li>a.btn{
  color: white;
  background-color:transparent;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;

}

navbar-nav>li>a.btn:focus,
.navbar-default .navbar-nav>li>a.btn.back-color:hover{
  color:white;
  background-color: 	#DAA520;

}

navbar-nav>li>a.btn:focus,
.navbar-default .navbar-nav>li>a.btn.back-color{
    border: 2px solid white;
}

.move-right{
  /*margin-right: 5px;*/
}

 #move-right{
   font-size: 18px;
   border: 1px solid black;
   border-radius: 25px;
   margin-right: 10px;
 }

 #move-too{
   font-size: 18px;
   border: 1px solid black;
   border-radius: 25px;
   margin-right: 10px;
 }

header nav a{
   display: inline-block;
   font-size: 25px;

}

header li a.small-links {
   display: inline-block;
   font-size: 18px;
   margin: 10px;
   color: white;
   /*padding-left: 15px;
   padding-right: 15px;*/

 }

/*.col-2-3{
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  width: 66%;
}*/


header #logo a{
  font-size: 24px;


}

a{
  color:black;
}



.clearfix {
display: both;
}
