
header{
  background-image: url("../images/personal assistant.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.space{
  margin-top: 30px;
}

.paragraph{
  color: black;
  font-size: 22px;
}

h1{
  font-size: 60px;
  margin-top: 260px;
  font-weight: 800;
}

 a.small-links{
  font-size: 18px;

}

.navbar-default {
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
    /* background-color: #f8f8f8; */
    /* border-color: #e7e7e7; */
}

.btn-default{
  border-radius: 25px;
}

navbar-nav>li>a.btn,
.navbar-default .navbar-nav>li>a.btn{
  color:#333;
  background-color:transparent
}

navbar-nav>li>a.btn:focus,
.navbar-default .navbar-nav>li>a.btn:hover{
  color:#333;
  background-color:white;
}

.move-right{
  /*margin-right: 5px;*/
}
 #move-right{
   font-size: 18px;
   border: 1px solid black;
   border-radius: 25px;
   margin-right: 10px;
 }

 #move-too{
   font-size: 18px;
   border: 1px solid black;
   border-radius: 25px;
   margin-right: 10px;
 }

header nav a{
   display: inline-block;
   font-size: 25px;

}

header li {
   display: inline-block;
   font-size: 20px;
   margin: 20px;
   color: black;
   /*padding-left: 5px;
   padding-right: 15px;*/

 }

/*.col-2-3{
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  width: 66%;
}*/


header #logo a{
  font-size: 24px;


}

a{
  color:black;
}



.clearfix {
display: both;
}
