
body{
  background-image: url("personal assistant.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  font-size: 60px;
  margin-top: 300px;
  font-weight: 800;
}

.link-color{
  color: white;
}

.col-1-3{
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  width: 33%;
}

.col-2-3{
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  width: 66%;
}

header li{
   display: inline-block;
 }



.clearfix {
display: both;
}
